!
feature bgp
router bgp {{ bgp_asn }}
  router-id {{ loopback101_ip_address }}
  address-family ipv4 unicast
{% for bgp_advertise_net in bgp_advertise %}
    network {{ bgp_advertise_net }}
{% endfor %}
  neighbor {{ bgp_peer_ip }}
    remote-as {{ bgp_asn }}
    description configured by ansible
    address-family ipv4 unicast
!
